* {
  box-sizing: border-box;
}

:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* ===========================================Common================================================== */
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.heading-h2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26; /* 126.316% */
  letter-spacing: -0.76px;
}
.btn {
  min-width: 118px;
  line-height: 50px;
  display: inline-block;
  padding: 0 16px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
}
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
.lineclamp-first {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lineclamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--lineclamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.lineclamp-line2 {
  --lineclamp: 2;
}
.word-break {
  word-break: break-all;
}
/* ==============================Header================================= */
.header {
  background: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav ul {
  display: flex;
}
.header .nav {
  margin-left: auto;
}
.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  /* background: blue; */
  padding: 8px 21px;
  position: relative;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  flex-shrink: 0;
  border-radius: 1px;
  background: #171100;
}
.header .btn-sign-up {
  min-width: 144px;
}
.header .action {
  margin-left: 54px;
}

/* ==================================hero================================== */
.hero {
  padding: 57px 0 64px;
  background: #fffcf4;
}
.hero .body {
  display: flex;
}
/* =========================hero left=========================== */
.hero .media-block {
  width: 48%;
  position: relative;
}
.hero .media-block .img {
  width: 470px;
  height: 685px;
  border-radius: 20px;
  object-fit: cover;
}
.hero .hero-summary {
  width: 270px;
  padding: 24px;
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.hero-summary .item + .item {
  margin-top: 22px;
}
.hero-summary .item {
  align-items: center;
  display: flex;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff9e8;
}
.hero-summary .icon2 {
  background: #fcefff;
}
.hero-summary .icon3 {
  background: #ebeaff;
}
.hero-summary .info {
  margin-left: 16px;
}
.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.85; /* 185.714% */
}
.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
/* ===========================hero right======================== */
.hero .content-block {
  width: 52%;
  padding-top: 46px;
  padding-left: 130px;
}
.hero .content-block .heading {
  min-width: 470px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}
.hero .content-block .desc {
  margin-top: 28px;
  min-width: 470px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}
.hero .cta-group {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.hero .btn-hero {
  line-height: 64px;
  min-width: 180px;
  background: var(--primary-color);
}
.hero .watch-video {
  border: none;
  background-color: transparent;
  display: flex;
  margin-left: 28px;
  align-items: center;
  cursor: pointer;
}
.hero .watch-video .icon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .watch-video span {
  margin-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
.hero .recent {
  margin-top: 48px;
}
.hero .stats strong {
  margin-right: 14px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.22; /* 122.727% */
}
.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}

/* ===============================Popular================================== */
/* ======================Popular-top======================== */
.popular {
  padding: 65px 0;
  margin-top: 135px;
}
.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}
.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular-top .control-btn {
  background: transparent;
  width: 40px;
  height: 40px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popular-top .controls {
  display: flex;
  gap: 18px;
}
.popular-top .control-btn:hover {
  background: var(--primary-color);
  cursor: pointer;
}
/* ======================================Courses================================ */
.popular .course-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}
.popular .course-item .thumb {
  width: 100%;
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}
.popular .course-item {
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
  flex: 1;
}
.popular .course-item:hover {
  border: none;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.popular .course-item .info {
  margin: 16px 22px 22px 22px;
}
.popular .course-item .head {
  display: flex;
  justify-content: space-between;
}
.popular .course-item .title {
  width: 233.77px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
.popular .course-item .rating {
  display: flex;
  align-items: center;
}
.popular .course-item .star {
  width: 18px;
  height: 18px;
  color: var(--primary-color);
}
.popular .course-item .value {
  margin-left: 6px;
  margin-right: 22px;
  color: var(--primary-color);
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}
.popular .course-item .desc {
  margin: 6px 0 12px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}
.popular .course-item .foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular .course-item .btn-course:hover {
  background-color: var(--primary-color);
}
/* ================================feedback==================================== */
.feedback {
  margin-top: 135px;
  padding: 96px 0;
  background: #2e2100;
}
.feedback-list {
  display: flex;
  overflow: hidden;
}
.feedback-item {
  width: 100%;
  display: flex;
  flex-shrink: 0;
}
.feedback-item .avata {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}
.feedback-item .menber-name {
  margin-top: 18px;
  margin-bottom: 4px;
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42; /* 141.667% */
}
.feedback-item .desc {
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

.feedback-item .dots {
  margin-top: 28px;
  display: flex;
  gap: 6px;
}
.feedback-item .dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}
.feedback-item .dot.active {
  background: var(--primary-color);
  cursor: default;
}
.feedback .content {
  width: 66%;
  margin-left: auto;
  position: relative;
}
.feedback-item .open-quotes {
  width: 30px;
  height: 28px;
}
.feedback-item blockquote {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54; /* 153.846% */
  position: absolute;
  left: 30px;
  top: 28px;
}
/* ========================Feature=============================== */
.features {
  padding: 65px 0;
  margin-top: 135px;
}
.features .body {
  display: flex;
  justify-content: space-between;
}
.features .picture {
  display: flex;
  gap: 30px;
}
.features .picture img {
  width: 270px;
  height: 404px;
  object-fit: cover;
  border-radius: 16px;
}
.features .picture1 {
  margin-top: 34px;
}
.features .info {
  width: 470px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.features .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}
.features .btn-sign-up {
  margin-top: 43px;
  width: 137px;
  background: var(--primary-color);
}
/* ================================Feature2=============================== */
.feature2 {
  margin-top: 70px;
}
.feature2 .body {
  flex-direction: row-reverse;
}
.feature2 .info {
  width: 49%;
}
.feature2 .picture img {
  width: 470px;
  height: 440px;
  object-fit: cover;
}
/* ==================================Blog==================================*/
.blog {
  padding: 96px 135px;
  margin-top: 135px;
}
.top-blog {
  text-align: center;
}
.top-blog .desc {
  margin: 16px auto 0;
  width: 448px;
  color: #696262;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}
.blog .list-blog {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}
.blog .item-blog:hover {
  border-radius: 16px;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.blog .item-blog .thumb {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}
.blog .info {
  margin: 20px 20px 28px 20px;
}
.blog .date {
  position: relative;
  display: inline-flex;
  padding-bottom: 12px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
  align-items: center;
}
.blog .date::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--primary-color);
  margin-right: 4px;
}
.blog .date::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: -37px;
  content: "";
  display: inline-block;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
}
.blog .desc {
  margin-top: 12px;
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
  margin-bottom: 12px;
}
.blog .btn:hover {
  background-color: var(--primary-color);
}
